

h1{

    text-align: center;
    font-weight: 400;

}


p{
    text-align: center;
    font-size: large;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    
}